AgenceGUI/AgenceGUI/Web References/ReferenceServiceReservation/WebServiceReservation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="creerReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAgence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mdp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identifiantOffre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateDebut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateFin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombrePersonnes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nomClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenomClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="infoCarteCreditClient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creerReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creerReservationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="creerReservationSoapIn">
    <wsdl:part name="parameters" element="tns:creerReservation" />
  </wsdl:message>
  <wsdl:message name="creerReservationSoapOut">
    <wsdl:part name="parameters" element="tns:creerReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceReservationSoap">
    <wsdl:operation name="creerReservation">
      <wsdl:input message="tns:creerReservationSoapIn" />
      <wsdl:output message="tns:creerReservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceReservationSoap" type="tns:WebServiceReservationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creerReservation">
      <soap:operation soapAction="http://tempuri.org/creerReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceReservationSoap12" type="tns:WebServiceReservationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creerReservation">
      <soap12:operation soapAction="http://tempuri.org/creerReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceReservation">
    <wsdl:port name="WebServiceReservationSoap" binding="tns:WebServiceReservationSoap">
      <soap:address location="https://localhost:44356/WebServiceReservation.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceReservationSoap12" binding="tns:WebServiceReservationSoap12">
      <soap12:address location="https://localhost:44356/WebServiceReservation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>